body {	
      background-image: url("Фончик.jpg");
background-repeat: no-repeat;

}
 a:link {color:#4b0082;}
a:visited {color:#00ff00;}
a:hover {background-color:#4b0082; color:#dc143c; font-size:48px;}
a:active {background-color:#00ff00}